grant codeBase "file:/C:/Users/FranciscoJavier/Documents/GitHub/grado_informatica-DSD/P2-previo/simple/" {
    permission java.security.AllPermission;
};

